body {
    background-color: #000;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#textContainer {
    display: flex;
    flex-direction: column;
    width: 30vh;
    margin-right: 15px;
}

#gridContainer {
    display: grid;
    height: 500px;
    width: 500px;
    margin-left: 15px;
    background-color: #fff;
    border: 3px solid #2d47b9;
}

.button {
    padding: 20px;
    margin: 5px 0px;
    border-radius: 25px;
    background-color: #35d760;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: #1e883e;
}
