#container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#textContainer {
    display: flex;
    flex-direction: column;
    width: 30vh;
    margin-right: 15px;
}

#gridContainer {
    display: grid;
    height: 500px;
    width: 500px;
    margin-left: 15px;
    border: 3px solid red;
}

.button {
    padding: 20px;
}
